* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

div {
    font-family: Arial, sans-serif;
    line-height: 23px;
}

button {
    background-color: lightblue;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input{
    padding: 10px;
    margin: 5px;
    width: 20%;
}

label {
    margin: 5px;
}

.sidebar{
    width: 100%;
}

.header {
    background-color: lightblue;
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 0 1 10%;
    padding: 0 20px;
}

.footer {
    background-color: lightblue;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    flex: 0 1 10%;
}

.container {
    display: flex;
    flex: 1 1 auto;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sidebar-left, .sidebar-right {
    background-color: lightcoral;
    flex: 0 1 15%;
    min-width: 150px;
    padding: 10px;
}

.links {
    padding-left: 10px;
}

.sidebar-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
}

.main {
    background-color: white;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.menu {
    background-color: white;
    text-align: center;
    width: 100%;
    padding: 10px;
}

.top-middle {
    background-color: lightgreen;
    flex: 0 1 auto;
    padding: 10px;
}

.main-content {
    background-color: white;
    height: 100%;
    flex: 1;
    padding: 10px;
    overflow-y: scroll;
}

.bottom-right {
    background-color: lightgreen;
    height: 20%;
    flex: 0 1 auto;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.top-right{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.x, .y {
    background-color: white;
    max-width: max-content;
    padding: 5px;
    flex: 1;
}

.angels {
    align-self: center;
    background-color: antiquewhite;
    padding: 2px;
    width: max(80%, 100px);
}

.image {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        overflow-y: visible;
    }

    .sidebar-left, .sidebar-right {
        flex: 0 1 auto;
        min-width: 100%;
        text-align: center;
    }

    li{
        margin-left: 5px;
    }

    .sidebar-left, .sidebar-right, .main, .main-content, .bottom-right {
        padding: 5px;
    }

    .top-middle {
        padding: 3px;
    }

    .main-content {
        overflow-y: visible;
        height: 150%;
    }

    .header, .footer {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .header {
        padding: 5px 0;
    }

    .footer {
        justify-content: center;
        padding: 5px 0;
    }

    .x, .y {
        max-width: 100%;
        text-align: center;
    }

    .image img {
        width: 100%;
    }
}
